{% extends "base.html" %}

{% block title %}Авторизация{% endblock title %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h1 class="h3 mb-0">Форма авторизации</h1>
                </div>
                <div class="card-body">
                    <form method="POST" action="{% url 'login' %}">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="username" class="form-label">Логин:</label>
                            <input type="text" class="form-control" id="username" name="username" required>
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label">Пароль:</label>
                            <input type="password" class="form-control" id="password" name="password" required>
                        </div>
                        <button type="submit" class="btn btn-primary">Войти</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}